{% extends 'base.html' %}

{% block extraStyles %}
    <link rel='stylesheet' href='/static/main.css'>
{% endblock %}

{% block main %}
    <div class="home-bkg">
        <div class="home-bkg-overlay">
            <h1 class="font-color header1">Get rid of your bottles instantly</h1>
            <h3 class="font-color">You can now easily remove your empty bottles from your dorm without hassle.</h3>
            <a href='/pickup'><div class="btn-pick-collect">I want to pickup</div></a>
            <a href='/makeRequest'><div class="btn-pick-collect2">I want to schedule</div></a>
        </div>
    </div>
{% endblock %}