{% extends 'base.html' %}
{% block extraStyles %}
    <link rel='stylesheet' href='/static/main.css'>
{% endblock %}

{% block main %}
    <p>Put stuff here!</p>
    <script>
    firebase.auth().onAuthStateChanged(function(user) {
      if (user && window.location.pathname === '/') {
        $.ajax({
            type: 'POST',
            url: '/api/signIn',
            data: {
                id: user.uid,
                email: user.email,
                name: user.displayName,
                photo: user.photoURL,
            }
        }).done(
            function() {
                console.log(user);
                window.location = '/home';
            }
        ).fail(
            function() {
                alert('error');
            }
        );
      }
    });
    </script>
{% endblock %}
