{% extends 'base.html' %}
{% block extraStyles %}
    <link rel='stylesheet' href='/static/style.css'>
{% endblock %}

{% block main %}
    <div id="frontpage" style="text-align:center;">
        <img src="/static/beerpicture.svg" alt="Beer bottles" class="center" style="width:10%">
        <h3><br />Just a few more moments<br /></h3>
        <p id="frontpage-text"><br />We've sent your pick up request to our<br /> collectors. A confirmation message will <br /> appear once someone has accepted your <br /> request. </p>
    </div>
{% endblock %}